<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!-- Custom Styles -->
    <link rel="stylesheet" href="styles/styles.css">
    <title>Add a Drink</title>
</head>
<body>

<nav class="nav">
    <a class="nav-link" href="./">Home</a>
    <a class="nav-link" href="./find_drink">Find Drink</a>
    <a class="nav-link" href="./add_drink">Add Drink</a>
    <a class="nav-link" href="./drinks">All Drinks</a>
</nav>

<!-- Form -->
<form action="#" method="post" enctype="multipart/form-data">
    <div class="container">

        <!--Row 1-->
        <div class="row">
        <!--Drink Name-->
        <div class="col-md-4">
            <div class="form-group">
                <check if="{{ @errors['name'] }}">
                    <span class="err">{{ @errors['name'] }}</span>
                </check>
                <label><h3>Drink Name</h3>
                    <input type="text" value="{{ @name }}"
                           name="name" class="form-control" id="name" placeholder="Drink name"
                           data-rule="minlen:4" data-msg="Please enter at least 4 chars"
                    >
                    <div class="validation"></div>
                </label>
            </div>
        </div>
        </div>
        <hr>
        <!--Row 2-->
        <div class="row">
            <!--Quantity-->
            <div class="col-md-4">
                <div class="form-group">
                    <check if="{{ @errors['qty'] }}">
                        <span class="err">{{ @errors['qty'] }}</span>
                    </check>
                    <label><strong>Quantity</strong>
                        <input type="text" value="{{ @qty }}"
                               class="form-control" class="form-control" data-msg="Please enter Quantity."
                               name="qty" class="form-control" id="qty" placeholder="2oz/1 slice etc..."
                        >
                    </label>
                    <div class="validation"></div>
                </div>
            </div>

            <!--Ingredient Name-->
            <div class="col-md-4">
                <div class="form-group">
                    <label><strong>Ingredient Name</strong>
                        <check if="{{ @errors['ing_name'] }}">
                            <span class="err">{{ @errors['ing_name'] }}</span>
                        </check>
                        <input type="text" value="{{ @ing_name }}"
                               name="ing_name" class="form-control" id="ing_name" placeholder="Rum/Lime etc..."
                               data-rule="minlen:4" data-msg="Please enter at least 4 chars"
                        >
                        <div class="validation"></div>
                    </label>
                </div>
            </div>

            <!--Ingredient Type-->
            <div class="col-md-4">
                <div class="form-group">

                    <label><strong>Ingredient Type</strong>
                        <check if="{{ @errors['ing_type'] }}">
                            <span class="err">{{ @errors['@ingredients'] }}</span>
                        </check>

                        <select name="ing_type" class="custom-select" id="ing_type">
                            <repeat group="{{ @ing_name }}" value="{{ @ingOption }}">

                                <option
                                <check if="@ing_type == @ingOption">selected</check>
                                name="ing_type" value="{{ @ingOption }}" >
                                {{ @ingOption }}
                                </option>
                            </repeat>
                        </select>
                    </label>

                    <div class="validation"></div>
                </div>
            </div>

        </div>
        <!--Row 3-->
        <div class="row">

            <!--Instructions-->
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label for="instructions"><strong>Instructions</strong></label>
                    <textarea id="instructions" class="form-control" name="instructions" rows="12" cols="50" data-rule="required" data-msg="How doth we maketh this drink?" placeholder="Step One: fill glass with ice..."></textarea>
                    <div class="validation"></div>
                </div>
            </div>

            <!--Glass Type-->
            <div class="col-md-4 mb-3">
                <div class="form-group">

                    <check if="{{ @errors['ingredients'] }}">
                        <span class="err">{{ @errors['@glass'] }}</span>
                    </check>

                    <label><strong>Glass Type</strong>
                        <select name="glass" class="custom-select" id="glass">

                            <repeat group="{{ @glass }}" value="{{ @glassOption }}">
                                <option
                                <check if="@glass == @glassOption">selected</check>
                                name="glass" value="{{ @glassOption }}" >
                                {{ @glassOption }}
                                </option>
                            </repeat>

                        </select>
                    </label>

                    <br>
                    <br>

                    <check if="{{ @errors['image'] }}">
                        <span class="text-danger">{{ @errors['image'] }}</span>
                    </check>

                    <label for="image"><strong>Image</strong></label>
                    <input type="file" name="image" id="image">

                    <p>Upload drink Image(optional)</p>

                    <div class="validation"></div>

                </div>
            </div>


        </div>

        <button type="submit" id="button-style" class="btn btn-primary btn-md">Add Drink</button>
    </div>
</form>





<!-- bootstrap scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>