<include href="/views/header.html"/>

<!-- Form -->

<div class="container">
    <form action="#" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md form-group">
                        <label for="name">Name</label>
                        <check if="{{ @errors['name'] }}">
                            <span class="text-danger">{{ @errors['name'] }}</span>
                        </check>
                        <input class="form-control" name="name" id="name" type="text" value="{{ @name }}">
                    </div>
                    <div class="col-md form-group">
                        <label for="glasses">Glass</label>
                        <check if="{{ @errors['glasses'] }}">
                            <span class="text-danger">{{ @errors['glasses'] }}</span>
                        </check>
                        <select id="glasses" name="glasses" class="form-control">
                            <repeat group="{{ @glasses }}" value="{{ @glass }}">
                                <option name="glass" value="{{ @glass }}"
                                <check if="{{ @drinkGlass == @glass }}">
                                    selected
                                </check>
                                >{{ @glass }}</option>
                            </repeat>
                        </select>
                    </div>
                    <div class="col-md-2 form-group">
                        <label for="shots">Shots</label>
                        <check if="{{ @errors['shots'] }}">
                            <span class="text-danger">{{ @errors['shots'] }}</span>
                        </check>
                        <input class="form-control" name="shots" id="shots"
                               type="text" value="{{ @shots }}">
                    </div>
                </div>
                <check if="{{ @ings }}">
                <repeat group="{{ @ings }}" key="{{ @index }}" value="{{ @ing }}">
                    <div class="row border pt-2 ing-row">
                        <div class="col-md-3 form-group ">

                            <label for="{{'qty'.@index }}">Qty</label>
                            <check if="{{ @errors[qty][@index] }}">
                                <span class="text-danger">{{ @errors[qty][@index] }}</span>
                            </check>
                            <input id="{{'qty'.@index }}" type="text" name="qtys[]"
                                   value="{{ @qtys[@index] }}" class="form-control">
                        </div>
                        <div class="col-md-5 form-group">
                            <label for="{{ @ing }}">Ingredient</label>
                            <check if="{{ @errors[ing][@index] }}">
                                <span class="text-danger">{{ @errors[ing][@index] }}</span>
                            </check>
                            <input id="{{ @ing }}" type="text" name="ings[]" class="form-control" value="{{ @ing }}">
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="{{ 'type'.@index }}">Category</label>
                            <check if="{{ @errors[type][@index] }}">
                                <span class="text-danger">{{ @errors[type][@index] }}</span>
                            </check>
                            <select name="types[]" id="{{ 'type'.@index }}" class="form-control">
                                <option value="">choose category...</option>
                                <repeat group="{{ @typeList }}" value="{{ @type }}">
                                    <option value="{{ @type }}"
                                    <check if="{{ @types[@index] == @type }}">
                                        selected
                                    </check>
                                    >{{ @type }}</option>
                                </repeat>
                            </select>
                        </div>
                    </div>
                </repeat>
                </check>
                <div id="new-row"></div>
                <div class="row">
                    <div class="col">
                        <button id="addRow" class="mt-2">Add Ingredient</button>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col">
                        <div class="form-group mx-auto">
                            <label for="recipe">Directions</label>
                            <check if="{{ @errors['recipe'] }}">
                                <span class="text-danger">{{ @errors['recipe'] }}</span>
                            </check>
                            <textarea id="recipe" name="recipe" class="form-control" rows="5">{{ @recipe }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img class="img-fluid mx-auto" src=
                                <check if="{{ @drinkImg }}">
                        <true>"{{ @drinkImg }}"</true>
                        <false>"images/default.jpg"</false>
                        </check>
                        {{ @drinkImg }}" alt="drink picture">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group ml-auto">

                            <label for="image">Upload a new photo: &nbsp;</label>
                            <input type="file" name="drinkImg" id="image">
                            <check if="{{ @errors['image'] }}">
                                <br><span class="text-danger">{{ @errors['image'] }}</span>
                            </check>
                        </div>
                    </div>
                </div>
            </div>
            <!--end directions / photo column-->
        </div>
        <div class="row">
            <input class="btn btn-warning mx-auto" type="submit" value="Add Drink">
        </div>
    </form>
</div>

<!-- bootstrap scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="scripts/addRow.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>


