<include href="/views/header.html"/>

<div class="container">
    <h1 class="text-center">Find My Drink</h1>
    <hr>
    <form action="#" method="post">
        <div class="row">
            <div class="col-md-4 text-center">
                <img id="classImg" src="images/artificer.jpg" alt="class image" class="img-fluid mx-auto">

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="class">Class</label>
                    <select name="class" id="class" class="form-control">
                        <repeat group="{{ @classes }}" value="{{ @class }}">
                            <option value="{{ @class }}">{{ @class }}</option>
                        </repeat>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sub">Subclass</label>
                    <select name="sub" id="sub" class="form-control">
                        <repeat group="{{ @subclasses['Artificer'] }}" value="{{ @subclass }}">
                            <option value="{{ @subclass }}">{{ @subclass }}</option>
                        </repeat>
                    </select>
                </div>
                <div class="form-group">
                    <label for="alignment">Alignment</label>
                    <select name="alignment" id="alignment" class="form-control">
                        <repeat group="{{ @alignments }}" value="{{ @align }}">
                            <option value="{{ @align }}">{{ @align }}</option>
                        </repeat>
                    </select>
                </div>
                <div class="form-group">
                    <label for="background">Background</label>
                    <select name="background" id="background" class="form-control">
                        <repeat group="{{ @backgrounds }}" value="{{ @bkgd }}">
                            <option value="{{ @bkgd }}">{{ @bkgd }}</option>
                        </repeat>
                    </select>
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="text" id="age" name="age" class="form-control">
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="form-group" id="stats">
                    <repeat group="{{ @stats }}" value="{{ @stat }}">
                        <div class="form-group">
                            <label for="{{ @stat }}">{{ @stat }}</label>
                            <input type="text" id="{{ @stat }}" name="stats[]" class="form-control">
                        </div>
                    </repeat>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 text-center">
                <div class="form-group">
                    <h4>Alcoholic Beverage?</h4>
                    <div>
                        <label for="yes">Yes
                            <input type="radio" name="alcoholic" value="yes" id="yes">
                        </label>
                        <label for="no">No
                            <input type="radio" name="alcoholic" value="no" id="no">
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="row">
                <input id="btnText" type="submit" value="Get My Drink" class="btn btn-warning mx-auto">
        </div>
    </form>
</div>

<!-- bootstrap scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="scripts/getSubclasses.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>