<include href="/views/header.html"/>

<div class="container">
    <h1 class="text-center">Find My Drink</h1>
    <hr>
    <form action="#" method="post" class="needs-validation" novalidate>
        <div class="row">
            <div class="col-md-4 text-center">
                <img id="classImg" src="images/artificer.jpg" alt="class image" class="img-fluid mx-auto">

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="name">Name</label>
                    <check if="{{ @errors['name'] }}">
                        <span class="text-danger">{{ @errors['name'] }}</span>
                    </check>
                    <input type="text" id="name" name="name" class="form-control"
                    <check if="{{ @name }}">value="{{ @name }}"</check>
                    required >
                </div>
                <div class="form-group">
                    <label for="class">Class</label>
                    <check if="{{ @errors['class'] }}">
                        <span class="text-danger">{{ @errors['class'] }}</span>
                    </check>
                    <select name="class" id="class" class="form-control" required>
                        <repeat group="{{ @classes }}" value="{{ @cls }}">
                            <option value="{{ @cls }}"
                            <check if="{{ @class == @cls }}">selected</check>
                            >
                            {{ @cls }}</option>
                        </repeat>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sub">Subclass</label>
                    <check if="{{ @errors['sub'] }}">
                        <span class="text-danger">{{ @errors['sub'] }}</span>
                    </check>
                    <select name="sub" id="sub" class="form-control" required>
                        <repeat group="{{ @subclasses[@class] }}" value="{{ @subclass }}">
                            <option value="{{ @subclass }}"
                            <check if="{{ @sub == @subclass }}">selected</check>
                            >{{ @subclass }}</option>
                        </repeat>
                    </select>
                </div>
                <div class="form-group">
                    <label for="alignment">Alignment</label>
                    <check if="{{ @errors['alignment'] }}">
                        <span class="text-danger">{{ @errors['alignment'] }}</span>
                    </check>
                    <select name="alignment" id="alignment" class="form-control" required>
                        <repeat group="{{ @alignments }}" value="{{ @align }}">
                            <option value="{{ @align }}"
                            <check if="{{ @alignment == @align }}">selected</check>
                            >{{ @align }}</option>
                        </repeat>
                    </select>
                </div>
                <div class="form-group">
                    <label for="background">Background</label>
                    <check if="{{ @errors['background'] }}">
                        <span class="text-danger">{{ @errors['background'] }}</span>
                    </check>
                    <select name="background" id="background" class="form-control" required>
                        <repeat group="{{ @backgrounds }}" value="{{ @bkgd }}">
                            <option value="{{ @bkgd }}"
                            <check if="{{ @background == @bkgd }}">selected</check>
                            >{{ @bkgd }}</option>
                        </repeat>
                    </select>
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <check if="{{ @errors['age'] }}">
                        <span class="text-danger">{{ @errors['age'] }}</span>
                    </check>
                    <input type="number" id="age" name="age" class="form-control"
                    <check if="{{ @age }}">value="{{ @age }}"</check>
                    required >
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="form-group" id="stats">
                    <repeat group="{{ @statsList }}" key="{{ @index }}" value="{{ @stat }}">
                        <div class="form-group">
                            <label for="{{ @stat }}">{{ @stat }}</label>
                            <check if="{{ @errors['stats'][@index] }}">
                                <span class="text-danger">{{ @errors['stats'][@index] }}</span>
                            </check>
                            <input type="number" id="{{ @stat }}" name="stats[]" class="form-control"
                            <check if="{{ @stats[@index] }}">value="{{ @stats[@index] }}"</check>
                            required >
                        </div>
                    </repeat>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row mb-3">
            <div class="col text-center">
                <h4>Alcoholic Beverage?</h4>
                <p>
                    <check if="{{ @errors['alcoholic'] }}">
                        <span class="text-danger">{{ @errors['alcoholic'] }}</span>
                    </check>
                </p>
                <div class="row">
                    <div class="col text-right">
                        <div class="form-check form-check-inline text-right">
                            <input class="form-check-input" type="radio" name="alcoholic" value="yes" id="yes"
                            <check if="{{ @alcoholic == 'yes' }}">checked</check>
                            required>
                            <label class="form-check-label" for="yes">Yes</label>
                        </div>
                    </div>
                    <div class="col text-left">
                        <div class="form-check form-check-inline text-left">
                            <input class="form-check-input" type="radio" name="alcoholic" value="no" id="no"
                            <check if="{{ @alcoholic == 'no' }}">checked</check>
                            required>
                            <label class="form-check-label" for="no">No</label>
                            <div class="invalid-feedback ml-3">Please Choose What Type of Drink You Want</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <input id="btnText" type="submit" value="Get My Drink" class="btn btn-warning mx-auto">
        </div>
    </form>
</div>

<!-- scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="scripts/getSubclasses.js"></script>
<script src="scripts/clientValid.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>