<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!-- my own -->
    <link rel="stylesheet" href="../styles/styles.css">
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative:900|Cinzel:700|Federant|Metamorphous&display=swap" rel="stylesheet">

    <title>{{ @drink->getName() }}</title>
</head>
<body>
<div class="jumbotron text-center pb-0 pt-1" id="logoHead"">
<img src="../images/dndnd.png" alt="dndnd site logo" class="img-fluid mx-auto">
<nav class="nav bottom">
    <div class="col my-auto">
        <a class="nav-link my-auto" href="../">Home</a>
    </div>
    <div class="col my-auto">
        <a class="nav-link" href="../find_drink">Find Drink</a>
    </div>
    <check if="{{ @SESSION.admin }}">
        <div class="col my-auto">
            <a class="nav-link" href="../add_drink">Add Drink</a>
        </div>
        <div class="col my-auto">
            <a class="nav-link" href="../drinks">All Drinks</a>
        </div>
        <div class="col ml-auto my-auto">
            <a class="btn btn-warning adminBtn" href="../logout">Logout</a>
        </div>
    </check>
    <check if="{{ !isset(@SESSION.admin) }}">
        <div class="col ml-auto my-auto">
            <a class="btn btn-warning adminBtn" href="../login">Admin</a>
        </div>
    </check>
</nav>
</div>

<div class="container">
    <form action="#" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md form-group">
                        <label for="name">Name</label>
                        <input class="form-control-plaintext" name="name" id="name" type="text"
                               value="{{ @name }}" disabled>
                    </div>
                    <div class="col-md form-group">
                        <label for="glasses">Glass</label>
                        <input type="text" id="glasses" class="form-control-plaintext"
                               value="{{ @drinkGlass }}" disabled>
                    </div>
                    <div class="col-md-2 form-group">
                        <label for="shots">Shots</label>
                        <input class="form-control-plaintext" name="shots" id="shots"
                               type="text" value="{{ @shots }}" disabled>
                    </div>
                </div>
                <repeat group="{{ @ings }}" key="{{ @index }}" value="{{ @ing }}">
                    <div class="row border pt-2 ing-row">
                        <div class="col-md-3 form-group ">
                            <label for="{{'qty'.@index }}">Qty</label>
                            <input id="{{'qty'.@index }}" type="text" name="qtys[]"
                                   value="{{ @qtys[@index] }}" class="form-control-plaintext" disabled>
                        </div>
                        <div class="col-md-5 form-group">
                            <label for="{{ @ing }}">Ingredient</label>
                            <input id="{{ @ing }}" type="text" name="ings[]" class="form-control-plaintext" value="{{ @ing }}" disabled>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="{{ 'type'.@index }}">Category</label>
                            <input type="text" id="{{ 'type'.@index }}" class="form-control-plaintext" value="{{ @types[@index] }}" disabled>
                        </div>
                        <hr>
                    </div>
                </repeat>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col">
                        <div class="form-group mx-auto">
                            <label for="recipe">Directions</label>
                            <textarea id="recipe" name="recipe" class="form-control-plaintext"
                                      rows="5" disabled>{{ @recipe }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <img class="img-fluid mx-auto" src="{{ '../' . @drinkImg }}" alt="drink picture">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input class="btn btn-danger ml-auto" type="submit" value="Delete Drink">
            </div>
            <div class="col-md-6">
                <div class="form-group mt-3 mr-auto">
                    <input type="checkbox" id="confirm" class="checkbox" name="confirm" required>
                    <label for="confirm">Check this box to confirm deletion.</label>
                    <div class="invalid-feedback">Check to confirm.</div>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- bootstrap scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="../scripts/clientValid.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>