<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!-- my own -->
    <link rel="stylesheet" href="../styles/styles.css">
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative:900|Cinzel:700|Federant|Gabriela|MedievalSharp|Metamorphous|New+Rocker|UnifrakturCook:700&display=swap" rel="stylesheet">

    <title>{{ @drink->getName() }}</title>
</head>
<body>
<div class="jumbotron text-center pb-0 pt-1" id="logoHead" style="background-color: black">
    <img src="../images/dndnd.png" alt="dndnd site logo" class="img-fluid mx-auto">
    <nav class="nav bottom">
        <div class="col">
            <a class="nav-link my-auto" href="../">Home</a>
        </div>
        <div class="col">
            <a class="nav-link" href="../find_drink">Find Drink</a>
        </div>
        <check if="{{ @SESSION.admin }}">
            <div class="col">
                <a class="nav-link" href="../add_drink">Add Drink</a>
            </div>
            <div class="col">
                <a class="nav-link" href="../drinks">All Drinks</a>
            </div>
            <div class="col">
                <a class="btn" href="../logout">Logout</a>
            </div>
        </check>
        <check if="{{ !isset(@SESSION.admin) }}">
            <div class="col">
                <a class="btn" href="../login">Login</a>
            </div>
        </check>
    </nav>
</div>

<div class="container">
    <form action="#" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        <div class="row">
            <h6 class="text-danger mx-auto">
                <check if="{{ @errors['db'] }}">{{ @errors['db'] }}</check>
            </h6>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md form-group">
                        <label for="name">Name</label>
                        <check if="{{ @errors['name'] }}">
                            <span class="text-danger">{{ @errors['name'] }}</span>
                        </check>
                        <input class="form-control" name="name" id="name" type="text" value="{{ @name }}" required>
                    </div>
                    <div class="col-md form-group">
                        <label for="glasses">Glass</label>
                        <check if="{{ @errors['glasses'] }}">
                            <span class="text-danger">{{ @errors['glasses'] }}</span>
                        </check>
                        <select id="glasses" name="glass" class="form-control" required>
                            <option value="">choose glass...</option>
                            <repeat group="{{ @glasses }}" value="{{ @glass }}">
                                <option value="{{ @glass }}"
                                <check if="{{ @drinkGlass == @glass }}">
                                    selected
                                </check>
                                >{{ @glass }}</option>
                            </repeat>
                        </select>
                    </div>
                    <div class="col-md-2 form-group">
                        <label for="shots">Shots</label>
                        <check if="{{ @errors['shots'] }}">
                            <span class="text-danger">{{ @errors['shots'] }}</span>
                        </check>
                        <input class="form-control" name="shots" id="shots"
                               type="text" value="{{ @shots }}">
                    </div>
                </div>
                <repeat group="{{ @ings }}" key="{{ @index }}" value="{{ @ing }}">
                    <div class="row border pt-2 ing-row">
                        <div class="col-md-3 form-group ">

                            <label for="{{'qty'.@index }}">Qty</label>
                            <check if="{{ @errors['qty'][@index] }}">
                                <span class="text-danger">{{ @errors[qty][@index] }}</span>
                            </check>
                            <input id="{{'qty'.@index }}" type="text" name="qtys[]"
                                   value="{{ @qtys[@index] }}" class="form-control" required>
                        </div>
                        <div class="col-md-5 form-group">
                            <label for="{{ @ing }}">Ingredient</label>
                            <check if="{{ @errors['ing'][@index] }}">
                                <span class="text-danger">{{ @errors[ing][@index] }}</span>
                            </check>
                            <input id="{{ @ing }}" type="text" name="ings[]" class="form-control" value="{{ @ing }}" required>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="{{ 'type'.@index }}">Category</label>
                            <check if="{{ @errors['type'][@index] }}">
                                <span class="text-danger">{{ @errors[type][@index] }}</span>
                            </check>
                            <select name="types[]" id="{{ 'type'.@index }}" class="form-control" required>
                                <option value="">select a category...</option>
                                <repeat group="{{ @typeList }}" value="{{ @type }}">
                                    <option value="{{ @type }}"
                                    <check if="{{ @types[@index] == @type }}">
                                        selected
                                    </check>
                                    >{{ @type }}</option>
                                </repeat>
                            </select>
                        </div>

                        <hr>
                    </div>
                </repeat>
                <div id="new-row"></div>
                <div class="row mb-3">
                    <div class="col">
                        <button id="addRow" class="btn btn-success mt-2 mr-auto">Add Ingredient</button>
                    </div>
                    <div class="col text-right">
                        <button id="removeRow" class="btn btn-danger mt-2 ml-auto">Remove Ingredient</button>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col">
                        <div class="form-group mx-auto">
                            <label for="recipe">Directions</label>
                            <check if="{{ @errors['recipe'] }}">
                                <span class="text-danger">{{ @errors['recipe'] }}</span>
                            </check>
                            <textarea id="recipe" name="recipe" class="form-control" rows="5">{{ @recipe }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <img class="img-fluid mx-auto" src="{{ '../' . @drinkImg }}" alt="drink picture">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group ml-auto">

                            <label for="image">Upload a new photo: &nbsp;</label>
                            <input type="file" name="drinkImg" id="image">
                            <check if="{{ @errors['image'] }}">
                                <br><span class="text-danger">{{ @errors['image'] }}</span>
                            </check>
                        </div>
                    </div>
                </div>
            </div>
            <!--end directions / photo column-->
        </div>
        <div class="row">
            <div class="col text-center mb-3">
                <input class="btn btn-warning" type="submit" value="Update Drink">
            </div>
            <div class="col text-center">
                <button class="btn btn-danger ml-auto" id="delDrink">Delete Drink</button>
            </div>
        </div>
    </form>
</div>


<!-- bootstrap scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="../scripts/addRow.js"></script>
<script src="../scripts/clientValid.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>