<!DOCTYPE html>
<html lang="en">
<head>
    <!--
    Kaephas Kain
    /date/
    /filename/

    /description
    -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!-- my own -->
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Edit Drink</title>
</head>
<body>
<nav class="nav">
    <a class="nav-link" href="../">Home</a>
    <a class="nav-link" href="../find_drink">Find Drink</a>
    <a class="nav-link" href="../add_drink">Add Drink</a>
    <a class="nav-link" href="../drinks">All Drinks</a>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form action="#" method="post">
                <div class="row">
                    <div class="col form-group">
                        <label for="name">Name</label>
                        <input class="form-control" id="name" type="text" value="{{ @drink->getName() }}">
                    </div>
                    <div class="col form-group">
                        <label for="glasses">Glass</label>
                        <check if="{{ @errors['glasses'] }}">
                            <span class="text-danger">{{ @errors['state'] }}</span>
                        </check>
                        <select id="glasses" name="glasses" class="form-control">

                            <repeat group="{{ @glasses }}" value="{{ @glass }}">
                                <option value="{{ @glass }}"
                                <check if="{{ @drink->getGlass() == @glass }}">
                                    selected
                                </check>
                                >{{ @glass }}</option>
                            </repeat>

                        </select>
                    </div>
                    <check if="{{ get_class(@drink) == 'AlcoholDrink' }}">
                    <div class="col-md-2 form-group">
                        <label for="shots">Shots</label>
                        <input class="form-control" id="shots" type="text" value="{{ @drink->getShots() }}">
                    </div>
                    </check>
                </div>
                <div class="row">
                    <repeat group="{{ @drink->getIngredients() }}" key="{{ @ing }}" value="{{ @qty }}">

                        <div class="col-md-2 form-group">
                            <label for="{{'qty'.@ing}}">Qty</label>
                            <input id="{{'qty'.@ing}}" type="text" value="{{ @qty }}" class="form-control">
                        </div>
                        <div class="col-md-5 form-group">
                            <label for="{{ @ing }}">Ingredient</label>
                            <input id="{{ @ing }}" type="text" class="form-control" value="{{ @ing }}">
                        </div>
                        <div class="col-md-5 form-group">
                            <label for="{{ @ing . 'type' }}">Category</label>
                            <select name="type" id="{{ @ing . 'type' }}" class="form-control">
                                <repeat group="{{ @types }}" value="{{ @type }}">
                                    <option value="@type"
                                    <check if="{{ @ingTypes[@ing] == @type }}">
                                        selected
                                    </check>
                                    >{{ @type }}</option>
                                </repeat>
                            </select>
                        </div>
                    </repeat>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <button id="addRow">[ + ]</button>
                    </div>
                </div>
            </form>

        </div>

        <div class="col-md-6">

                <img class="img-fluid" src="{{ '../' . @drink->getImage() }}" alt="drink picture">

            <div class="row">
                <div class="form-group ml-auto">

                <label for="image">Upload a new photo: &nbsp;</label>
                <input type="file" name="image" id="image">
                    <check if="{{ @errors['image'] }}">
                        <br><span class="text-danger">{{ @errors['image'] }}</span>
                    </check>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- bootstrap scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>