<include href="/views/header.html"/>

<br>
<div class="container text-center">
    <h1>DUNGEONS & DRAGONS & DRINKS</h1>
    <hr>
    <!--<h2>Find My Drink</h2>-->
    <!--<a class="btn btn-warning btn-lg btn-home mb-3" href="find_drink">Find My Drink</a>-->
    <!-- class="text-hide"-->
    <br>
    <!--<h2>Add a Drink</h2>-->
    <!--<a class="btn btn-danger btn-lg btn-home" href="add_drink">Go</a>-->
    <!--<div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a>-->
    <!--from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a -->
    <!--href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" -->
    <!--target="_blank">CC 3.0 BY</a></div>-->
    <div class="row mx-auto text-center" id="barImg">
        <div class="col" id="btnCol">
            <img src="images/dndBar.jpg" alt="d and d tavern" class="img-fluid mx-auto">
            <div id="barBtn" class="mx-auto">
            <a class="btn btn-warning btn-lg btn-home mb-3" href="find_drink">Find My Drink</a>
            </div>
        </div>
    </div>
</div>

<!-- bootstrap scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>