<include href="/views/header.html"/>

<br>
<div class="container text-center">
    <h1>DUNGEONS & DRAGONS & DRINKS</h1>
    <hr>
    <h2>Find My Drink</h2>
    <a class="btn btn-warning btn-lg btn-home mb-3 text-hide" href="find_drink">Go</a>
    <br>
    <h2>Add a Drink</h2>
    <a class="btn btn-danger btn-lg btn-home" href="add_drink">Go</a>
    <!--<div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a>-->
        <!--from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a -->
                <!--href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" -->
                <!--target="_blank">CC 3.0 BY</a></div>-->
</div>
<br>
<hr>
<div class="container">
    <h2>To do:</h2>
    <ul>
        <li>
            Fix edit drink image update--not updating if error found after initial upload
        </li>
        <li>
            If we ajax load a php document with functions, can we then run a function/get variables?
        </li>
        <li>
            <del>Client side js validation -- get more clarity on php/js/server-side</del>
        </li>
        <li>
            Include header once for all pages?
        </li>
        <li>
            Check with Tina re: database structure
        </li>
        <li>
            Only logged-in users to add/edit drink / all drinks?
        </li>
        <li>Character Info Page
            <ul>
                <li>Validation</li>
                <li>Post Data to Character Object</li>
                <li>Store Character in Session</li>
            </ul>
        </li>
        <li><del>Add New Drink Page</del>
            <ul>
                <li><del>Validation</del></li>
                <li><del>New Drink Object</del></li>
                <li><del>Add to database</del></li>
            </ul>
        </li>
        <li><del>List of Drinks Page</del>
            <ul>
                <li><del>Display as datatable</del></li>
                <li><del>Ability to edit drinks</del></li>
                <li><del>Edit/View -> Query DB & create new drink object from info</del> -> Store in session?</li>
            </ul>
        </li>
        <li><del>Edit/View Drink Page</del>
            <ul>
                <li><del>Load Drink Object</del></li>
                <li><del>Validation</del></li>
                <li><del>Update Database</del></li>
                <li>Run more tests to update</li>
            </ul>
        </li>
        <li><del>Delete Drink Page</del>
            <ul>
                <li><del>Load Drink Object</del></li>
                <li><del>Force confirm</del></li>
                <li><del>Delete from DB</del></li>
            </ul>
        </li>
        <li>Display Chosen Drink
            <ul>
                <li>Load Character object from session</li>
                <li>Query DB for matching drinks</li>
                <li>Create Array of Drink objects for each possibility</li>
                <li>Choose Best/Random from matches</li>
            </ul>
        </li>
        <li>RE-TEST EVERYTHING LOTS OF TIMES
            <ul>
                <li>Next monday my D&D group will test it</li>
            </ul>
        </li>
        <li>
            When all else is done...Styles!
        </li>
    </ul>
    <hr>
    <h2>Project Requirements</h2>
    <ul>
        <li><del>Separates all database/business logic using the MVC pattern.</del></li>
        <li><del>Routes all URLs and leverages a templating language using the Fat-Free framework.</del></li>
        <li><del>Has a clearly defined database layer using PDO and prepared statements.</del></li>
        <li><del>Data can be viewed, added, updated, and deleted.</del></li>
        <li>Has a history of commits from both team members to a Git repository.</li>
        <li>Uses OOP, and defines multiple classes, including at least one inheritance relationship.</li>
        <li>Contains full Docblocks for all PHP files.</li>
    </ul>
</div>
<!-- bootstrap scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>