<include href="/views/header.html"/>

<br>
<div class="container text-center">
    <h1>DUNGEONS & DRAGONS & DRINKS</h1>
    <hr>
    <h2>Find My Drink</h2>
    <a class="btn btn-warning btn-lg btn-home mb-3" href="find_drink">Go</a>
    <br>
    <h2>Add a Drink</h2>
    <a class="btn btn-warning btn-lg btn-home" href="add_drink">Go</a>
</div>
<br>
<hr>
<div class="container">
    <h2>To do:</h2>
    <ul>
        <li>
            Client side js validation -- get more clarity on php/js/server-side
        </li>
        <li>
            How to include header html properly?
        </li>
        <li>
            Check with Tina re: database structure
        </li>
        <li>
            Only logged-in users to add/edit drink / all drinks?
        </li>
        <li>
            Add ability to delete drinks (from edit drink or all drinks?)
        </li>
        <li>Character Info Page
            <ul>
                <li>Validation</li>
                <li>Post Data to Character Object</li>
                <li>Store Character in Session</li>
            </ul>
        </li>
        <li>Add New Drink Page
            <ul>
                <li>Validation</li>
                <li>New Drink Object</li>
                <li>Add to database</li>
            </ul>
        </li>
        <li>List of Drinks Page
            <ul>
                <li><del>Display as datatable</del></li>
                <li><del>Ability to edit drinks</del></li>
                <li>View drink page same as edit page? (simpler)</li>
                <li><del>Edit/View -> Query DB & create new drink object from info</del> -> Store in session?</li>
            </ul>
        </li>
        <li>Edit/View Drink Page
            <ul>
                <li><del>Load Drink Object</del></li>
                <li><del>Validation</del></li>
                <li><del>Update Database</del></li>
                <li>Run more tests to update</li>
            </ul>
        </li>
        <li>Display Chosen Drink
            <ul>
                <li>Load Character object from session</li>
                <li>Query DB for matching drinks</li>
                <li>Create Array of Drink objects for each possibility</li>
                <li>Choose Best/Random from matches</li>
            </ul>
        </li>
        <li>
            When all else is done...Styles!
        </li>
    </ul>
    <hr>
    <h2>Project Requirements</h2>
    <ul>
        <li>Separates all database/business logic using the MVC pattern.</li>
        <li>Routes all URLs and leverages a templating language using the Fat-Free framework.</li>
        <li>Has a clearly defined database layer using PDO and prepared statements.</li>
        <li>Data can be viewed, added, updated, and deleted.</li>
        <li>Has a history of commits from both team members to a Git repository.</li>
        <li>Uses OOP, and defines multiple classes, including at least one inheritance relationship.</li>
        <li>Contains full Docblocks for all PHP files.</li>
        <li>Has full validation on the client side through JavaScript and server side through PHP.</li>
        <li>Incorporates jQuery and Ajax.</li>
    </ul>
</div>
<!-- bootstrap scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>