<!-- TODO: DELETE WHEN DONE TESTING??? -->
<include href="/views/header.html"/>

<div class="container">
    <div class="row">
        <div class="col-md-6 text-center" id="ajaxImg">
            <!-- class image loaded via ajax -->
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="class">Class</label>
                <select name="class" id="class" class="form-control" required>
                    <option value="Artificer">Artificer</option>
                    <option value="Bard">Bard</option>
                    <option value="Fighter">Fighter</option>
                    <option value="Wizard">Wizard</option>
                </select>
            </div>
        </div>
    </div>
</div>

<!-- bootstrap scripts -->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script>
    let imageDiv = $('#ajaxImg');
    $(window).on('load', function() {
        let charClass = $('#class').val();
        imageDiv.load('model/getClassInfo.php', {char:charClass});
    });

    $('#class').on('change', function() {

        let charClass = $('#class').val();
        imageDiv.load('model/getClassInfo.php', {char:charClass});
        $("#sub").load('model/getClassInfo.php', {subs:charClass});
    });

</script>

</body>
</html>