<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!-- datatable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative:900|Cinzel:700|Federant|Gabriela|MedievalSharp|Metamorphous|New+Rocker|UnifrakturCook:700&display=swap" rel="stylesheet">
    <!-- custom styles -->
    <link rel="stylesheet" href="styles/styles.css">

    <title>Drinks List</title>
</head>
<body>

<div class="jumbotron text-center pb-0 pt-1" id="logoHead">
    <img src="images/dndnd.png" alt="dndnd site logo" class="img-fluid mx-auto">
    <nav class="nav bottom">
        <div class="col">
            <a class="nav-link my-auto" href="./">Home</a>
        </div>
        <div class="col">
            <a class="nav-link" href="find_drink">Find Drink</a>
        </div>
        <check if="{{ @SESSION.admin }}">
            <div class="col">
                <a class="nav-link" href="add_drink">Add Drink</a>
            </div>
            <div class="col">
                <a class="nav-link" href="drinks">All Drinks</a>
            </div>
            <div class="col">
                <a class="btn" href="logout">Logout</a>
            </div>
        </check>
        <check if="{{ !isset(@SESSION.admin) }}">
            <div class="col">
                <a class="btn" href="login">Login</a>
            </div>
        </check>
    </nav>
</div>

<div class="container">
    <div class="text-center">
        <check if="{{ @SESSION.deletion }}">
            <h3 class="text-danger">{{ @SESSION.deletion }}</h3>
        </check>
        <check if="{{ @SESSION.addition }}">
            <h3 class="text-danger">{{ @SESSION.addition }}</h3>
        </check>
        <check if="{{ @SESSION.editSuccess }}">
            <h3 class="text-danger">{{ @SESSION.editSuccess }}</h3>
        </check>
        <h1 class="mx-auto">All Drinks</h1>
    </div>
    <table class="table table-hover" id="drinkTable">
        <thead>
        <tr id="headerRow">
            <th scope="col">Name</th>
            <th scope="col">Glass</th>
            <th scope="col">Shots</th>
            <th scope="col">Edit</th>
        </tr>
        </thead>
        <tbody>

        <repeat group="{{ @drinks }}" value="{{ @drink }}">
            <tr class="clickableRow" data-href="drinks/{{ @drink['name'] }}">
                <td>
                    {{ @drink['name'] }}
                </td>
                <td>
                    {{ @drink['glass'] }}
                </td>
                <td>
                    {{ @drink['shots'] }}
                </td>
                <td>
                    <a href="drinks/{{ @drink['name'] }}">Edit</a>
                </td>
            </tr>
        </repeat>

        </tbody>

    </table>
</div>

<!-- jquery & datatable -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.2.5/js/dataTables.rowReorder.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<!-- run datatable and onclick row links -->
<script src="scripts/tableScripts.js"></script>
<!-- bootstrap scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>