/*
    Kaephas & Zane
    5-19-2019
    styles.css

    Styles for D&D&D website

*/

body {
    background-image: url("../images/bar_background.jpg");
    background-size: auto, 100%;
}

.jumbotron {
    background-color: black;
}
/* Nav styles */
nav {
    background: #741112;
    font-family: 'Cinzel', serif;
}

nav a {
    color: white;
    /*width: 21.7vw;*/
}

nav a:hover {
    color: orange;
}

.adminBtn {
    padding: .1rem .25rem;
}

#loginCont {
    width: 90%;
    max-width: 450px;
}

#barImg {
    /*background-image: url("../images/dndBar.jpg");*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
    /*background-color: unset;*/
    /*height: auto;*/
    /*width: 50vw;*/
    position: relative;
    display: inline-block;
    text-align: center;
}

#barBtn {
    position: absolute;
    width: 100%;
    bottom: 25%;
    left: 0;
    right: 0;
}

h1{
    /*font-family: 'Cinzel', serif;*/
    /*font-family: 'Cinzel Decorative', cursive;*/
    /*font-family: 'Gabriela', serif;*/
    font-family: 'Metamorphous', cursive;
    /*font-family: 'UnifrakturCook', cursive;*/
    /*font-family: 'MedievalSharp', cursive;*/
    /*font-family: 'New Rocker', cursive;*/
    /*font-family: 'Federant', cursive;*/
}

/* body styles */

/* rounded grey border, slight gap around contents*/
.container {
    padding: 25px;
    width: 90%;
    max-width: 90%;
    margin: auto;
    margin-top: 25px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: rgba(211, 211, 211, 0.85);
    box-shadow: 2px 2px 5px darkslategrey;
}

/* image styles - round edges, 15px from adjacent*/
img {
    border-radius: 5px !important;
    margin: 15px;
    max-height: 500px;
    text-align: center;
}

.btn {
    font-family: 'Metamorphous', cursive;
    border: 1px solid palegoldenrod;
    box-shadow: 1px 1px 1px #2f4f4f91;
}

.btn-home {
    min-width: 100px;
    /*background: url('../images/cocktail.svg') no-repeat center;*/
    /*background-color: rgba(74, 10, 10, 0.66);*/
    /*background-size: cover;*/
    /*width: 100px;*/
    /*height: 100px;*/
}

.btn-home:hover {
    cursor: pointer;
}

/*Fighting with bootstrap form control*/
/*.form-control{*/
    /*width: 25vw;*/
/*}*/

h2{
    font-family: 'Federant', cursive;
}
/*#btnText{*/
    /*font-family: 'Metamorphous', cursive;*/
    /*border: 1px solid palegoldenrod;*/
    /*box-shadow: 1px 1px 1px #2f4f4f91;*/
/*}*/

textarea {
    width: 100% !important;
}

label {
    font-weight: bold;
}

#addRow {
    min-width: 50px;
}

/* data table styles */
td {
    font-weight: bold;
}

td a {
    font-weight: normal;
}


#drinkTable tr {
    cursor: pointer;
}

caption {
    caption-side: top;
    font-weight: bold;
}


.resultIngs {
    /*font-weight: bold;*/
    font-size: 1em;
    background-color: #e9ecef;

}

.statResult {
    max-width: 100px;
}

@media only screen and (min-width: 576px) {
    .vl {
        border-left: 1px solid #323232;
        /*min-height: 100px;*/
    }
    .hideBig {
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    .hideSmall {
        display: none;
    }
}


/*th {*/
    /*color: white !important;*/
/*}*/

/*thead th {*/
    /*color: #8a25c3 !important;*/
    /*text-align: center !important;*/
/*}*/

/*table {*/
    /*background: white !important;*/
/*}*/

/*.dataTables_wrapper .dataTables_paginate .paginate_button {*/
    /*color: white !important;*/
/*}*/

/*.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {*/
    /*color: #6D4285 !important;*/
/*}*/

/*.dataTables_wrapper .dataTables_paginate .paginate_button.current {*/
    /*color: white !important;*/
    /*background: #6D4285 !important;*/
/*}*/