/*
    Kaephas & Zane
    5-19-2019
    styles.css

    Styles for D&D&D website

*/

*{
    box-sizing: border-box;
}
body{
    width: 98vw;
}
.container{
    width: 80vw;
    margin: auto;
}