/*
    Kaephas & Zane
    5-19-2019
    styles.css

    Styles for D&D&D website

*/

/* Nav/Header styles */

.jumbotron {
    background-color: black;
}

nav {
    background: #741112;
    font-family: 'Cinzel', serif;
}

nav a {
    color: white;
    /*width: 21.7vw;*/
}

nav a:hover {
    color: orange;
}

.adminBtn {
    padding: .1rem .25rem;
}

#loginCont {
    width: 90%;
    max-width: 450px;
}

#barImg {
    position: relative;
    display: inline-block;
    text-align: center;
}

#barBtn {
    position: absolute;
    width: 100%;
    bottom: 25%;
    left: 0;
    right: 0;
}


/* body styles */

/* minimum add row button size */
#addRow {
    min-width: 50px;
}

body {
    background-image: url("../images/bar_background.jpg");
    background-size: auto, 100%;
}

.btn {
    font-family: 'Metamorphous', cursive;
    border: 1px solid palegoldenrod;
    box-shadow: 1px 1px 1px #2f4f4f91;
}

/* home page button slightly larger */
.btn-home {
    min-width: 100px;
}

.btn-home:hover {
    cursor: pointer;
}

/* rounded grey border, slight gap around contents*/
.container {
    padding: 25px;
    width: 90%;
    max-width: 90%;
    margin: auto;
    margin-top: 25px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: rgba(211, 211, 211, 0.85);
    box-shadow: 2px 2px 5px darkslategrey;
}

.form-control-plaintext {
    background-color: lightgrey;
    padding-left: 5px;
}

h1{
    font-family: 'Metamorphous', cursive;
}

h2{
    font-family: 'Federant', cursive;
}

/* image styles - round edges, 15px from adjacent*/
img {
    border-radius: 5px !important;
    margin: 15px;
    max-height: 500px;
    text-align: center;
}

label {
    font-weight: bold;
}

/* fill width of div/container */
textarea {
    width: 100% !important;
}


/* data table styles */
caption {
    caption-side: top;
    font-weight: bold;
}

#drinkTable tr {
    cursor: pointer;
}

td {
    font-weight: bold;
}

td a {
    font-weight: normal;
}


/* ingredient display on result page */
.resultIngs {
    /*font-weight: bold;*/
    font-size: 1em;
    background-color: #e9ecef;

}

/* stats display on result page */
.statResult {
    max-width: 100px;
}

/* change display layout based on screen size */
@media only screen and (min-width: 576px) {
    .vl {   /* vertical line */
        border-left: 1px solid #323232;
        /*min-height: 100px;*/
    }
    .hideBig {
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    .hideSmall {
        display: none;
    }
}
